.sobre-nos{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-inter);
    margin: 6rem 0;
    gap:1.5rem;

    
}

h1{
    color: var(--vermelho);
    font-size: 1rem;
    font-weight: 600;
}

.sobre-nos--h2{
    font-size: 48px;
    font-weight: 600;
    color: var(--preto);
    text-align: center;

}

.sobre-nos--p{
    width: 80vw;
    color: var(--cinza-claro);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}